<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

<context:annotation-config/>
    <!--<context:component-scan base-package="com.howtodoinjava.demo.service" />-->
    <!--<context:component-scan base-package="com.howtodoinjava.demo.dao" />-->
    <!--<context:component-scan base-package="com.howtodoinjava.demo.controller" />-->
    <bean id="orderProcessExecutor" class="OrderExecuteProcessor">

    </bean>
    <bean id="amazon" class="amazon">

    </bean>

    <bean id="paymentProcess" class="PaymentProcess">

    </bean>

    <bean id="paytm" class="Paytm">

    </bean>

	
</beans>